@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis.woff') format('woff');
  src: url('../fonts/Metropolis.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}